body {
  background: linear-gradient(
    to left,
    rgba(57, 74, 81, 0.8),
    rgba(127, 169, 155, 0.8),
    rgba(251, 242, 213, 0.8),
    rgba(253, 197, 123, 0.8)
  );
  color: #29373d;
}

h1,
h2 {
  font-family: "DM Serif Display", serif;
  font-weight: bold;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 40px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.tempOverview a {
  text-decoration: none;
}

.tempUnits {
  font-size: 17px;
  vertical-align: super;
}

.tempOverview .active {
  color: #393939;
  cursor: default;
}

.tempOverview .temperature {
  font-size: 60px;
  vertical-align: middle;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 40px auto;
}

.weather-app {
  max-width: 600px;
  padding: 20px;
  border: 10px solid #fbf2d5;
  border-radius: 20px;
  background-color: #fed298;
  box-shadow: 0px 0px 25px 10px rgba(127, 169, 155, 0.25);
}

.weather-app .icon {
  color: #7fa99b;
}

.btn {
  background-color: #7fa99b;
  border-color: #7fa99b;
}

.form-control:focus {
  border-color: #fed298;
  box-shadow: 0 0 0 0.2rem #fbf2d5;
}

.weatherForecast {
  padding-top: 15px;
}

.forecastColumn {
  text-align: center;
}

.forecastDay {
  font-family: "DM Serif Display", serif;
  font-size: 18px;
}

.forecastTemp {
  font-size: 15px;
}

.currentWeatherRow {
  padding-top: 15px;
}
